.question {
  color: white;
}
.answer {
  color: #ffe81f;
}
p {
  font-size: 28px;
  font-weight: bolder;
}
.container {
  margin-top: 40px;
}
.bad {
  color: tomato;
}

@media (max-width: 900px) {
  p {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 12px;
  }
}
