.App {
  text-align: center;
  width: 100%;
}
.logo {
  width: 20%;
  margin: 9% 0px 5% 0px;
}
.logoutbtn {
  background: black;
  border: 0;
  color: #ffe81f;
  text-decoration: underline;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  cursor: pointer;
}
